/*
 * Copyright (c) 2021 Nick Winans
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/rgb.h>
#include <dt-bindings/zmk/bt.h>

#define FN       1//用FN替代数字1表示1层，提供各种键盘属性功能
#define LeftHand 2//适用于右手操作鼠标，左手操纵键盘，左手需要在输入数字，快捷键，字母之间切换的层
#define LeftTab  3//左手小拇指侧手掌按压键盘按键，快捷切换层
#define RightTab 4//右手小拇指侧手掌按压键盘按键，快捷切换层
/ {
	keymap {
		compatible = "zmk,keymap";
		
		default_layer {
// ------------------------------------------------------------------------------------------
// |  `  |  1  |  2  |  3  |  4  |  5  |  6  |  7  |  8  |  9  |  0  |  -  |  =  |    BKSP    |
// |  TAB   |  Q  |  W  |  E  |  R  |  T  |  Y  |  U  |  I  |  O  |  P  |  [  |  ]  |   "\"   |
// |  CAPS   |  A  |  S  |  D  |  F  |  G  |  H  |  J  |  K  |  L  |  ;  |  '  |     ENTER    |
// |   SHIFT   |  Z  |  X  |  C  |  V  |  B  |  N  |  M  |  ,  |  .  |  /  |      SHIFT       |
// |MO(3)|tog(2)|to(0)| CTL | ALT |SPACE| WIN |SPACE| ALT |CTL|SPACE|  MO(1) | MO(4) |  CTL  |
// ------------------------------------------------------------------------------------------
			bindings = <
	&kp GRAVE    &kp N1   &kp N2    &kp N3    &kp N4    &kp N5    &kp N6    &kp N7    &kp N8     &kp N9     &kp N0    &kp MINUS &kp EQUAL  &kp BSPC
	&kp TAB      &kp Q    &kp W     &kp E     &kp R     &kp T     &kp Y     &kp U     &kp I      &kp O      &kp P     &kp LBKT  &kp RBKT   &kp BSLH
	&kp CLCK     &kp A    &kp S     &kp D     &kp F     &kp G     &kp H     &kp J     &kp K      &kp L      &kp SEMI  &kp SQT              &kp RET
	&kp LSHFT    &kp Z    &kp X     &kp C     &kp V     &kp B     &kp N     &kp M     &kp COMMA  &kp DOT    &kp FSLH                       &kp RSHFT
	&mo LeftTab  &tog LeftHand &to 0  &kp LCTRL  &kp LALT &kp SPACE &kp LWIN &kp SPACE &kp RALT  &kp RCTRL  &kp RALT  &mo FN  &mo RightTab &kp RCTRL
			>;
		};
 
		FN_layer {
// ------------------------------------------------------------------------------------------------
// | BT CLR | F1  | F2  | F3  | F4  | F5  | F6  | F7  | F8  | F9  | F10  | F11 | F12 | EFFECT REV |
// |  BT 1   |   |  UP |   | HUEUP | SATUP | BRIUP | SPDUP |   |     |    |     |     |           |
// |   BT 2   | LT |  DN  | RT | HUEDN | SATDN | BRIDN | SPDDN |   |     |   |     |  EFFECT FORW |
// |    BT 3     |     |      |      |     |     |     |     |     |     |     |                  |
// |   BT 4  |      |      |             TOG RGB                | PRT SCR |       |       |  DEL  |
// ------------------------------------------------------------------------------------------------
			bindings = <
	&bt BT_CLR   &kp F1    &kp F2    &kp F3  &kp F4           &kp F5          &kp F6          &kp F7          &kp F8   &kp F9   &kp F10  &kp F11 &kp F12  &rgb_ug RGB_EFR
	&bt BT_SEL 0  &trans    &kp UP    &trans  &rgb_ug RGB_HUI  &rgb_ug RGB_SAI &rgb_ug RGB_BRI &rgb_ug RGB_SPI  &trans   &trans   &trans   &trans  &trans          &trans 
	&bt BT_SEL 1   &kp LEFT  &kp DOWN  &kp RIGHT &rgb_ug RGB_HUD &rgb_ug RGB_SAD &rgb_ug RGB_BRD &rgb_ug RGB_SPD &trans   &trans   &trans   &trans        &rgb_ug RGB_EFF
	&bt BT_SEL 2    &trans    &trans    &trans   &trans          &trans          &trans          &trans          &trans   &trans   &trans                          &trans
	&bt BT_SEL 3  &trans   &trans &trans &trans &trans   &trans    &trans     &trans    &rgb_ug RGB_TOG    &kp PSCRN      &trans      &trans               &kp DEL
			>;
		};
	};
	//组合键
	 combos {
        compatible = "zmk,combos";
		//"`"和"1"一起按下组合为ESC键
        combo_esc {
            timeout-ms = <50>;
            key-positions = <0 1>;
            bindings = <&kp ESC>;
        };
		//"="和"backspace"一起按下组合为del键
		combo_delete {
            timeout-ms = <50>;
            key-positions = <12 13>;
            bindings = <&kp DELETE>;
        };
		//"`"和"tab"一起按下组合为返回桌面
		combo_desktop {
            timeout-ms = <50>;
            key-positions = <0 14>;
            bindings = <&kp LEFT_WIN &kp D>;
        };
    };
};

